page-login {

    .form_login{
        position:absolute;
        left:50%;
        width: 70%;
        top:50%;
        margin-left:-125px;
        margin-top:-45px;
    }

    .cabecalho_login{
        position:absolute;
        left:50%;
        top:25%;
        margin-left:-120px;
        margin-top:-45px;
    }
}
