page-cadastro-conta {

    .form_cadastro{
        align-items: center;
        position:relative;
        top:20%;
        margin-top:-45px;
    }

    .btn_cadastro{
        position:relative;
        margin-top:80px;
    }
}
